@import './reset.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    padding: 25px 35px;
    width: 400px;
    border-radius: 20px;
    background-color: #fff;

    @media (max-width: 576px) {
        width: 300px;
    }
     
}

.app p {
    margin-bottom: 8px;
    font-weight: 600;
}

.app input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 50px;

    border: 1px solid #6467c7;
    border-radius: 5px;
}

.app button {
    width: 100%;
    height: 50px;

    border-radius: 5px;
    background-color: #494eea;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    color: #fff;
}

#imgBox {
    width: 200px;
    max-height: 0;

    border-radius: 5px;
    overflow: hidden;
    transition: max-height 1s;
}

#qrImg {
    width: 100%;
    padding: 10px;
}

#imgBox.show-img {
    margin: 5px auto 20px;
    max-height: 300px;
    border: 1px solid #d1d1d1;
}

.error {
    outline: 0;
    border-color: red !important;
    animation-name: error;
    animation-duration: .5s;
    animation-delay: 0.25s;
}

@keyframes error{
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }

    37% {
        transform: translateX(5px);
        timing-function: ease-out;
    }

    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }

    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }

    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }

    91% {
        transform: translateX(2px);
        timing-function: ease-out;
    }

    96% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }

    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}